.sponsorrs {
   // .sponsorrs__body
   &__body {
      display: flex;
      align-items: center;
      justify-content: space-between;
      overflow-x: auto;
   }
   // .sponsorrs__img
   &__img {
      @include adaptiveValue("margin-top", 50, 20);
      @include adaptiveValue("margin-bottom", 50, 20);
      max-height: 36px;
      &:not(:last-child) {
         margin-right: 20px;
      }
   }
}
