@font-face{
	font-family:"texgyreheros";
	font-display:swap;
	src: url("../fonts/texgyreheros-regular.woff") format("woff"), url("../fonts/texgyreheros-regular.woff2") format("woff");
	font-weight: 400;
	font-style: normal;
}
