@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "./base/mixins";
@import "./base/variables";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин

// Подключить если есть локальные файлы шрифтов
//@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
//@import "fonts/icons";

// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "./base/null";

body {
   // Скролл заблокирован
   .lock & {
      overflow: hidden;
      touch-action: none;
   }
   // Сайт загружен
   .loaded & {
   }
}
// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   overflow: hidden;
   // Прижимаем footer
   > main {
      flex: 1 1 auto;
   }
   // Фикс для слайдеров
   > * {
      min-width: 0;
   }
}
